.git
.github
node_modules/
vendor/
.env
.env.*
.phpunit.result.cache
.phpunit.cache/
.vscode/
.idea/
.zed/
/public/build/
/public/hot/
/public/storage/
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*.log
*.log
docker-compose.yml
Dockerfile
.dockerignore
_ide_helper.php
Homestead.json
Homestead.yaml
